<div class="login-container">
  <div class="logo-container">
    <img src="./assets/images/logo.png" alt="Logo" class="logo" />
  </div>
  <h2>Giriş Yap</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-posta</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="E-posta adresinizi giriniz" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Geçerli bir e-posta adresi giriniz.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Şifre</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Şifrenizi giriniz" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Şifre zorunludur.
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Giriş Yap</button>
  </form>
  <div class="login-options">
    <a [routerLink]="['/forgot-password']" class="forgot-password-link">Şifremi Unuttum</a>
  </div>
  <div class="login-options">
    <a [routerLink]="['/register']" class="register-link">Kayıt Ol</a>
  </div>
</div>