<nav class="bottom-navbar">
    <ul class="navbar-menu">
      <li class="menu-item">
        <a routerLink="/dashboard">
          <img src="assets/icons/home.svg" alt="Ana Sayfa" />
          <span>Ana Sayfa</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/jobs">
          <img src="assets/icons/jobs.svg" alt="İşlerim" />
          <span>İşlerim</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/shipments">
          <img src="assets/icons/shipments.svg" alt="Kargolar" />
          <span>Kargolar</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/opportunities">
          <img src="assets/icons/opportunities.svg" alt="İş Fırsatları" />
          <span>İş Fırsatları</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/profile">
          <img src="assets/icons/profile.svg" alt="Profil" />
          <span>Profil</span>
        </a>
      </li>
    </ul>
  </nav>
  